<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>
    <body>
        <!--
        <div>
            Description: {{weather.description}}
        </div>
        -->
        <h1>{{message}}</h1>
        <ul>
            {{#each products}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </body>
</html>